@import 'config';
@import 'utilities';

// Reset
* {
  margin: 0;
  padding: 0;
}

// Core styles
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background: $light-color;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

// Main nav
#main-nav {
  padding: 2rem 0;
  background: #fff;

  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .logo {
      font-size: 2.4rem;

      p:last-child {
        font-size: 1.7rem;
      }
    }

    ul {
      display: flex;

      li a {
        padding: 1rem 1rem;
        font-size: 1.2rem;
        transition: background-color 250ms;

        &:hover {
          background-color: $medium-color;
          color: set-text-color($medium-color);
          opacity: 0.9;
        }

        &.current:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

// Main footer
#main-footer {
  background: $medium-color;
  padding: 1rem 0;

  .footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    text-align: center;

    div:last-child {
      grid-column: 1 / span 3;
    }

    h3 {
      margin-bottom: 0.5rem;
    }
  }
}